$title-font-size:24px;
$code-font-size:18px;
$main-font-size:18px;
$input-font-size:16px;
$detail-font-size:14px;
$default-font-size:12px;

$main-btn-bg:#FBAF34;

$input-boder-focus-color:#FBAF34;
$input-boder-error-color:#F72B35;

$main-color:#242C3F;