{
  "extends": "@antfu",
  "rules": {
    "space-before-function-paren": ["error", "always"],
    "curly": ["error", "multi-line"],
    "no-console": "off",
    "vue/component-tags-order": "off"
  }
}
